body 
{
	/*height: 100%;*/
	margin: 0;
	padding: 0;
	font-family: Arial, Tahoma, Helvetica, Sans-Serif;
	background:url(../img/background.jpg) center #ffffff repeat;
	text-align:center;
	font-size: 12px;
	height:800px;
	overflow:hidden;
}

div
{
	overflow:hidden;

}

.div_principal
{
	position:absolute;
}

.div_content 
{
	margin:10px auto 0 auto; 
	width:800px;
	height:600px;
	padding:5px;
	background-color:#FFFFFF;
	/*border:10px solid #0FFFF;	*/
}

.div_header
{
	width:800px;
	height: 54px;
	margin-bottom: 5px; 
	background-color:#0FFFF0;
	background:url(../img/div_header_bg.jpg) center no-repeat;
}

.div_header_title
{
	text-align:left;
	font-size: 24px;
	margin:15px;
}

.div_body
{
	width:800px;
	height: 404px;
	margin-bottom: 5px; 
	/*background-color:#0FFFF0;*/
}

/*
the same as div_body, but higher, because it includes the space of 
div_info
*/
.div_body_content
{
	width:800px;
	height: 500px;
	margin-bottom: 5px; 
	position:relative;
	/*background-color:#0FFFF0;*/
}


.div_body_left
{
	width:450px;
	height: 393px;
	padding:5px; 
	float:left;
	/*background-color:#FF0F00;*/
	background:url(../img/div_body_left_bg.jpg) center no-repeat;
}

/*
* similar to div_body_left, but this one 
* is thiner and higher.. 
*/
.div_panel_content
{
	left:-180px;
	position:relative;
	width:200px;
	height: 500px;
	/*padding:5px;*/ 
	float:left;
	background-color:#FFFFFF;
	/*background:url(img/div_body_left_bg.jpg) center no-repeat;*/
	z-index:50;
}

.div_panel_content_body
{
	float:left;
	width:180px;
	height:500px;
	/*background-color:#00FF00;*/
}

.div_panel_content_label
{
	float:left;
	width:20px;
	height:500px;
	/*background-color:#0000FF;*/
	background:url(../img/div_panel_content_label_bg.jpg) center no-repeat;
}


.div_body_right
{
	width:325px;
	height: 393px;
	padding:5px;
	float:right;
	text-align:left;
	/*background:url(img/div_body_right_bg.jpg) center no-repeat;*/
	font-size: 14px;
}

.div_body_right_content
{
	position:absolute;
	left:20px;
	width:780px;
	height: 500px;
	padding:20px;
	padding-right:50px;
	/*float:left;*/
	text-align:left;
	/*background-color:#0033FF;*/
	background:url(../img/div_body_right_content_bg.jpg) no-repeat;
	font-size: 14px;
	z-index:40;
	overflow:hidden;
}

.div_navigation_content
{
	position:absolute;
	left:690px;
	top:455px;
	width:65px;
	height: 18px;
	z-index:45;
	padding:5px;
	float:left;
	text-align:left;
	/*background-color:#00FFFF;*/
	background:url(../img/div_navigation_content_bg.png) no-repeat;

	
	
}

.div_navigation_content_item
{
	float:left;
	text-align:left;
	margin-right:5px;
}

.right_subtitle
{
  text-align:right;
  color:#FFFFFF;
  margin-top: 15px;
  margin-bottom: 10px;
  margin-right:10px;
  font-weight:800;
  font-style:oblique;
  font-family:"Times New Roman",Georgia,Serif;
}


.left_subtitle
{
  text-align:left;
  color:#000000;
  margin-left:5px;
  margin-top: 10px;
  margin-bottom: 10px;
  font-weight:800;
  font-family:"Times New Roman",Georgia,Serif;
}

.div_icon
{
	float:left;
	width:63px;
	margin-left:15px;
	margin-right:15px;
}

.image_caption
{
	text-align:center;
	margin-top: 4px;
	margin-bottom: 5px;
	font-size: 10px;
	
}

/*
.div_custom
{
	width:320px;
	height: 240px;
	padding:3px;
	margin-bottom: 5px; 
	background-color:#000FFF;
}

.div_video
{
	width:320px;
	height: 140px;
	padding:3px;
	background-color:#000FFF;
}
*/


.div_info
{
	width:800px;
	height: 96px;
	margin-bottom: 5px; 
	padding:0px;
	/*background-color:#0FFFF0;*/
	background:url(../img/div_info_bg.jpg) center no-repeat;
}

.div_picture
{
	width:70px;
	height: 96px;
	float:left;
	padding:3px;
	margin-right:5px;
	/*background-color:#F00FFF;*/
}

.div_author
{
	text-align:left;
	font-size: 12px;
	width:523px;
	height: 96px;
	float:left;
	padding:3px;
	margin-right:5px;
	/*background-color:#000FFF;*/
}

.div_continue
{
	width:168px;
	height: 96px;
	float:left;
	padding:3px;
	/*vertical-align:middle;*/
	float:left;
	/*background-color:#000FFF;*/
}


.div_footer
{
	width:800px;
	height: 35px;
	margin-bottom: 5px; 
	/*background-color:#0FFFF0;*/
}

.div_footer_element
{
  float:left;
  padding:3px;
  margin-left:15px;
  margin-right:15px;
  font-size: 12px;
  /*background-color:#0FFFF0;*/
}

.div_prueba
{
	position:relative;
	left:210px;
	top:-550px;
	width:600px;
	height:500px;
	visibility:hidden;
	background-color:#FFFFFF;
	/*background:url(img/background.png) center repeat;*/
	z-index:100;
	display: block;
	border-style: solid;
	border-width: 2px; 
	border-color: #cccccc;
 	
	/*margin: 50px;*/
}


.box_spacer
{
	margin: 20px;
	padding:20px;

}

.div_subwindow
{
  background-color:#FFFFFF;
}
